
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.cont-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../../assets/fondo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper { 
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(100vh);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #013ef4;
    border-radius: 10px;
    padding: 30px 40px;
    font-weight: 600;

}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: #013ef4;

}

.wrapper h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #0d4cff;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 25, 252, 0.774);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
    color: #0d4cff;
    
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color:#013ef4 !important;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}

.remember-forgot label input {
    accent-color: #0d4cff;
    margin-right: 3px;

}

.remember-forgot a {
    color: #0d4cff;
    text-decoration: none;

}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #57a0ff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #d5efff;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 15px;

}

.register-link p a {
    color: #0d4cff;
    text-decoration: none;
    font-weight: 800;

}

.register-link p a:hover {
    text-decoration: underline;

}